body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.color-dom {
    color: blue;
}

.color-rec {
    color: yellow;
}

.color-special {
    color: green;
}

.border-rec {
    border: 1px solid black;
}